body {margin: 0; background-color: #2D2F32; }
h1 { margin: 0; }
div#containter { width: 74em; margin-left: auto; margin-right: auto; }
div#header { margin: 0; }
div#title {
    margin-bottom: 1.6em; background-color: #FFFFFF; color: #000000;
    padding-bottom: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-radius-bottomleft: 6px;
    -webkit-border-radius-bottomright: 6px;
}
div#subnavigation { width: 100%; clear: both; color: #FFFFFF;}
div#subnavigation ul { display: inline; margin: 0; }
div#subnavigation li {
    display: inline;
    margin-left: 1.8em;
    padding: 0.8em;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-radius-topleft: 6px;
    -webkit-border-radius-topright: 6px;
}
div#subnavigation li.current { background-color: #E5E5E5;  color: #000000;}
div#subnavigation li.highlight { background-color: #FFFFFF; color: #2D2F32;}

div#wrapper { margin-top: 0; float:left; }
div#configbar {
    width: 97.8%;
    position: relative;
    background-color: #E5E5E5;
    margin-bottom: 0.8em;
    padding: 0.8em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
div#navbar {
    float: left;
    margin-right: 20px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
div#content {
    float: right;
    clear:right;
    padding: 0.8em;
    background-color: #FFFFFF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.sidebox {
    margin: 0;
    margin-bottom: 2.2em;
    width: 16em; /* ems so it will grow */
/*     background: url(sbbody-r.gif) no-repeat bottom right; */
    font-size: 100%;
}
.boxhead {
/*     background: url(sbhead-r.gif) no-repeat top right; */
    background-color: #9DADC6;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-radius-topleft: 6px;
    -webkit-border-radius-topright: 6px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.boxhead h2 {
/*     background: url(sbhead-l.gif) no-repeat top left; */
    margin: 0;
    padding: 0.5em 0.8em 0.3em;
    color: white; 
    font-weight: bold; 
    font-size: 1.2em; 
    line-height: 1em;
/*     text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */ */
}
.boxbody {
/*     background: url(sbbody-l.gif) no-repeat bottom left; */
    background-color: #E5E5E5;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-radius-bottomleft: 6px;
    -webkit-border-radius-bottomright: 6px;
    margin: 0;
    padding: 0.5em 0.8em 0.8em;
/*     padding: 5px 30px 31px; */
}
.boxbody ul {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}

/* tables */
table.tablesorter {
    width: 60em;
    font-family:arial;
/*     margin:0.8em; */
    font-size: 11pt;
    text-align: left;
    background-color: #fafafa;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #CDCDCD;
}
table.tablesorter thead tr td{}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #9DADC6;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 4px;
    width: 7em;
}
table.tablesorter thead tr .header {
    background-image: url(/media/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/media/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/media/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

table.tablesorter tbody td.text {text-align: left;}

table.tablesorter thead th.value {width: 450px;}
table.tablesorter tbody td.value {
    background-image: url(/media/images/gridline.gif);
    background-repeat: repeat-x;
    background-position: left top;
    text-align: left;
    padding: 0px;
    border: none;
    background-color:transparent;
}
td.value img {
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    border: none;
}

table.tablesorter tbody tr td.status-red { background-color: #FF4141; }
table.tablesorter tbody tr td.status-green { background-color: #B7FFB8; }
table.tablesorter tbody tr td.status-yellow { background-color: yellow; }
table.tablesorter tbody tr.highlight td {
    background-color: #9DADC6 !important;
    cursor: pointer;
}