body {
    margin: 0; padding: 0; background-color: #596A74;
    background-image: url(/media/images/vgradient-s.png);
    background-repeat: repeat-x;
}

h1 { margin: 0; font-style: italic; }
div#containter { width: 73em; margin-left: auto; margin-right: auto; }
div#header { width: 100%; margin: 0; margin-bottom: 0.8em; float:left; }
div#title {
    width: 100%;
    float: left;
    background-color: #EAEAEA; color: #000000;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-radius-bottomleft: 12px;
    -webkit-border-radius-bottomright: 12px;
}
div#title img { float: left; }
div#title h1 { float: left; margin-top: 23px; }

div#wrapper { width: 100%; margin-top: 0; float:left; }

div#navigation { float: left; }
div#tabs { width: 100%; color: #FFFFFF; }
div#tabs ul { margin: 0; padding: 0; padding-left: 17em; }
div#tabs li {
    display: inline-block;
    margin-left: 0.5em;
}
div#tabs ul li a:link, div#tabs ul li a:visited {
    display: block;
    text-decoration: none;
    background-color: #F5F5F5;
    color: #888888;
    padding: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-radius-topleft: 20px;
    -webkit-border-radius-topright: 20px;
}
div#tabs ul li a.current {
    background-color: #EAEAEA;
    color: #000000;
    font-weight: bold;
}
div#tabs ul li a:hover { background-color: #EAEAEA; color: #2D2F32; }

div#configbar {
    width: 52.2em;
    position: relative;
    float: right;
    background-color: #FFFFFF;
    margin-bottom: 0.8em;
/*     border: 1px dashed red; */
    padding: 0.8em;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
div#workarea {
    float: left; width: 97.9%;
    background-color: #EAEAEA; padding: 0.8em;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
div#sidebar {
/*     border: 1px dashed red; */
    float: left;
    margin-right: 20px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
div#content {
    float: right;
    clear:right;
    padding: 0.8em;
    background-color: #FFFFFF;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.sidebox {
/*     border: 1px dashed red; */
    margin: 0;
    margin-bottom: 2.2em;
    width: 16em; /* ems so it will grow */
/*     background: url(sbbody-r.gif) no-repeat bottom right; */
    font-size: 100%;
}
.boxhead {
/*     background: url(sbhead-r.gif) no-repeat top right; */
    background-color: #9DADC6;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.boxhead h2 {
/*     background: url(sbhead-l.gif) no-repeat top left; */
    margin: 0;
    padding: 0.5em 0.8em 0.3em;
    color: white; 
    font-weight: bold; 
    font-size: 1.2em; 
    line-height: 1em;
/*     text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.boxbody {
/*     background: url(sbbody-l.gif) no-repeat bottom left; */
/*     background-color: #EAEAEA; */
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-radius-bottomleft: 12px;
    -webkit-border-radius-bottomright: 12px;
    margin: 0;
    padding: 0.5em 0.8em 0.8em;
/*     padding: 5px 30px 31px; */
}
.boxbody ul {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}

/* tables */
table#results thead tr th { width: 7em; }

table.tablesorter {
    width: 57em;
    font-family:arial;
/*     margin:0.8em; */
    font-size: 11pt;
    text-align: left;
    background-color: #fafafa;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #CDCDCD;
}
table.tablesorter thead tr td{}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #9DADC6;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(/media/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/media/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/media/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

table.tablesorter tbody td.text {text-align: left;}

table.tablesorter thead th.bar { width: 440px !important; }
table.tablesorter tbody td.bar {
    background-image: url(/media/images/gridline.png);
    background-repeat: repeat-x;
    background-position: left top;
    text-align: left;
    padding: 0px;
    border: none;
    background-color:transparent;
}
table.tablesorter tbody td.bar img {
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    border: none;
}

table.tablesorter tbody span {
  display: block; 
/*   top: 10px;  */
/*   left: 0;  */
  height: 1.45em;
  margin-top: 0.2em;
  background: #5AA1D3; 
  text-indent: -9999px; 
  overflow: hidden; 
/*   background-color: #FF4141; margin-bottom: 0.1em; */
}

table.tablesorter tbody tr td.status-red { background-color: #FF5640; }
table.tablesorter tbody tr td.status-green { background-color: #9FD54D; }
table.tablesorter tbody tr td.status-yellow { background-color: #FEE772; }
table.tablesorter tbody tr.highlight td {
    background-color: #9DADC6 !important;
/*     cursor: pointer; */
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
