{% load percentages %}

<div id="contentnav">
  {% if prev %}<a id="previous" href="#" data-revision="{{ prev.rev }}" data-desc="{{ prev.desc }}">← {{ prev.short_rev }}{% if prev.summary %} ({{ prev.summary }}){% endif %}</a>{% endif %}
  {% if next %}<a id="next" href="#" data-revision="{{ next.rev }}" data-desc="{{ next.desc }}">{{ next.short_rev }}{% if next.summary %} ({{ next.summary }}){% endif %} →</a>{% endif %}
</div>

{% for units in tablelist %}
<table class="tablesorter" data-lessisbetter="{{ units.lessisbetter }}">
<thead>
  <tr>
    <th>Benchmark</th>
    <th>{{ units.units_title }} in {{ units.units }}</th>
    {% if units.has_stddev %}<th>Std dev</th>{% endif%}
    {% if units.hasmin %}<th>Min</th>{% endif%}
    {% if units.hasmax %}<th>Max</th>{% endif%}
    <th title="Current change">Change</th>
    <th title="Trend for the last {{ trendconfig }} revisions">Trend</th>
  </tr>
</thead>
<tfoot>
  <tr data-change="{{ units.totals.change|fix_infinity }}" data-trend="{{ units.totals.trend|fix_infinity }}">
    <td title="Arithmetic mean">Average</td>
    <td></td>
    {% if units.hasmin %}<td></td>
    {% endif%}{% if units.has_stddev %}<td>{{ units.totals.min }}</td>
    {% endif%}{% if units.hasmax %}<td>{{ units.totals.max }}</td>
    {% endif%}<td>{{ units.totals.change|percentage }}</td>
    <td>{% ifnotequal units.totals.trend "-" %}{{ units.totals.trend|floatformat:2 }}%{% else %}{{ units.totals.trend }}{% endifnotequal %}</td>
  </tr>
</tfoot>
<tbody>
{% for row in units.rows|dictsort:"bench_name" %}
  <tr data-change="{{ row.change|fix_infinity }}" data-trend="{{ row.trend|fix_infinity }}">
    <td title="{{ row.bench_description }}">{{ row.bench_name }}</td>
    <td>{{ row.result|floatformat:units.precission }}</td>
    {% if units.has_stddev %}<td>{{ row.std_dev|floatformat:units.precission }}</td>
    {% endif%}{% if units.hasmin %}<td>{{ row.val_min|floatformat:units.precission }}</td>
    {% endif%}{% if units.hasmax %}<td>{{ row.val_max|floatformat:units.precission }}</td>
    {% endif%}<td>{{ row.change|percentage }}</td>
    <td>{% ifequal row.trend "-" %}-{% else %}{{ row.trend|floatformat:2 }}%{% endifequal %}</td>
  </tr>{% endfor %}
</tbody>
</table>{% endfor %}

<table class="info">
  <thead>
    <tr>
      <th colspan="2">Executable</th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="infofirst">Name</td><td>{{ exe }}</td></tr>
    <tr><td class="infofirst">Description</td><td>{{ exe.description }}</td></tr>
  </tbody>
</table>
<table class="info">
  <thead>
    <tr>
      <th colspan="2">Environment</th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="infofirst">Name</td><td>{{ env.name }}</td></tr>
    <tr><td class="infofirst">CPU</td><td>{{ env.cpu }}</td></tr>
    <tr><td class="infofirst">Memory</td><td>{{ env.memory }}</td></tr>
    <tr><td class="infofirst">OS</td><td>{{ env.os }}</td></tr>
    <tr><td class="infofirst">Kernel</td><td>{{ env.kernel }}</td></tr>
  </tbody>
</table>
