<div class="leftcolumn">
{% for units in tablelist %}
<table class="tablesorter" data-lessisbetter="{{ units.lessisbetter }}">
<thead>
  <tr>
    <th>Benchmark</th>
    <th>{{ units.units_title }} in {{ units.units }}</th>
    {% if units.has_stddev %}<th>Std dev</th>{% endif%}
    {% if units.hasmin %}<th>Min</th>{% endif%}
    {% if units.hasmax %}<th>Max</th>{% endif%}
    <th title="Current change">Change</th>
    <th title="Trend for the last {{ trendconfig }} revisions">Trend</th>
  </tr>
</thead>
<tfoot>
  <tr data-change="{{ units.totals.change }}" data-trend="{{ units.totals.trend }}">
    <td title="Arithmetic mean">Average</td>
    <td></td>
    {% if units.hasmin %}<td></td>
    {% endif%}{% if units.has_stddev %}<td>{{ units.totals.min }}</td>
    {% endif%}{% if units.hasmax %}<td>{{ units.totals.max }}</td>
    {% endif%}<td>{% ifnotequal units.totals.change "-" %}{{ units.totals.change|floatformat:2 }}%{% else %}{{ units.totals.change }}{% endifnotequal %}</td>
    <td>{% ifnotequal units.totals.trend "-" %}{{ units.totals.trend|floatformat:2 }}%{% else %}{{ units.totals.trend }}{% endifnotequal %}</td>
  </tr>
</tfoot>
<tbody>
{% for row in units.rows|dictsort:"bench_name" %}
  <tr data-change="{{ row.change }}" data-trend="{{ row.trend }}">
    <td title="{{ row.bench_description }}">{{ row.bench_name }}</td>
    <td>{{ row.result|floatformat:units.precission }}</td>
    {% if units.has_stddev %}<td>{{ row.std_dev|floatformat:units.precission }}</td>
    {% endif%}{% if units.hasmin %}<td>{{ row.val_min|floatformat:units.precission }}</td>
    {% endif%}{% if units.hasmax %}<td>{{ row.val_max|floatformat:units.precission }}</td>
    {% endif%}<td>{% ifequal row.change "-" %}-{% else %}{{ row.change|floatformat:2 }}%{% endifequal %}</td>
    <td>{% ifequal row.trend "-" %}-{% else %}{{ row.trend|floatformat:2 }}%{% endifequal %}</td>
  </tr>{% endfor %}
</tbody>
</table>{% endfor %}

<table class="info">
  <thead>
    <tr>
      <th colspan="2">Executable</th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="infofirst">Name</td><td>{{ exe }}</td></tr>
    <tr><td class="infofirst">Description</td><td>{{ exe.description }}</td></tr>
  </tbody>
</table>
<table class="info">
  <thead>
    <tr>
      <th colspan="2">Environment</th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="infofirst">Name</td><td>{{ env.name }}</td></tr>
    <tr><td class="infofirst">CPU</td><td>{{ env.cpu }}</td></tr>
    <tr><td class="infofirst">Memory</td><td>{{ env.memory }}</td></tr>
    <tr><td class="infofirst">OS</td><td>{{ env.os }}</td></tr>
    <tr><td class="infofirst">Kernel</td><td>{{ env.kernel }}</td></tr>
  </tbody>
</table>
</div>

<div class="rightcolumn">
<table class="revision">
    <col/>
    <col/>
<thead>
  <tr>
    <th colspan="2">Revision</th>
  </tr>
</thead>
<tbody>
  <tr class="commit-id">
    <th class="infofirst">Commit</th>
    <td>{% if rev.get_browsing_url %}<a href="{{ rev.get_browsing_url }}">{{ rev.commitid }}</a>{% else %}{{ rev.commitid }}{% endif %}</td>
  </tr>
  <tr class="date"><th class="infofirst">Date</td><td>{{ rev.date }}</td></tr>
  {% ifnotequal rev.branch.project.repo_type "N" %}
    <tr class="repo-path"><th class="infofirst">Repo</th><td>{{ rev.branch.project.repo_path }}</td></tr>
  {% endifnotequal %}
</tbody>
</table>

{% ifnotequal exe.project.repo_type 'N' %}
  <table class="revision">
      <col/>
      <col/>
    <thead class="commits">
      <tr>
        <th colspan="2">Commit logs</th>
      </tr>
    </thead>
    <tbody class="commits" data-commitid="{{ rev.id }}">
      <tr><td colspan="2" style="text-align:center;">Loading... <img src="{{ STATIC_URL}}images/ajax-loader.gif" align="bottom"></td></tr>
    </tbody>
    <script type="text/javascript">
      var el = $("tbody.commits");
      el.load("logs/", "revisionid=" + el.data("commitid"));
    </script>
</table>
{% endifnotequal %}
</div>
