{% if error %}
    <tr><td colspan="2">Error while retrieving logs: {{ error }}</td></tr>
{% else %}
    {% for log in logs %}
        <tr>
            <th class="date infofirst">{{ log.date }}</th>
            <td>
                {% if log.links %}
                    <ul class="inline float-right">
                        {% for title, href in log.links.items %}
                            <li><a href="{{ href }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if log.author_email %}
                    <a class="author fn" href="mailto:{{ log.author_email }}">{{ log.author }}</a>
                {% else %}
                    <span class="author fn">{{ log.author }}</span>
                {% endif %}
                commited
                <abbr class="commit-id" title="{{ log.commitid }}">{{ log.short_commit_id|default:log.commitid }}</abbr>:

                <pre class="message">{{ log.message|linebreaksbr|urlize }}</pre>
                {% if log.body %}
                    <pre class="body">{{ log.body|linebreaksbr|urlize }}</pre>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}