{% extends "codespeed/base_site.html" %}

{% load static %}

{% block title %}{{ block.super }}: Comparison{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'js/jqplot/jquery.jqplot.min.css' %}" />
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}
{% block nav-comparison %}class="current"><a href="{% url "comparison" %}">Comparison</a>{% endblock %}

{% block body %}
<div id="sidebar">
<div class="sidebox">
  <div class="boxhead"><h2>Environments</h2></div>
  <div class="boxbody">
    <ul>{% for env in enviros %}
      <li title="{{ env.os }}, {{ env.cpu }}">
        <input id="env_{{ env.id }}" type="checkbox" name="environments" value="{{ env.id }}" />
        <label for="env_{{ env.id }}">{{ env }}</label>
      </li>{% endfor %}
    </ul>
  </div>
</div>
<div id="executable" class="sidebox">
  <div class="boxhead"><h2>Executables</h2></div>
  <div class="boxbody">
    {% for proj, executable in executables.items %}
    <ul><a href="#" class="togglefold">{{ proj }}</a> <a href="#" class="checkall">(All</a>, <a href="#" class="uncheckall">None)</a>
    {% for exe in executable %}
      <li title="{{ exe.executable }} - {{ exe.revision }}">
        <input id="exe_{{ exe.key }}" type="checkbox" name="executables" value="{{ exe.key }}" />
        <label for="exe_{{ exe.key }}">{{ exe.name }}</label><div class="seriescolor"></div>
      </li>{% endfor %}
    </ul>{% endfor %}
  </div>
</div>
<div id="benchmark" class="sidebox">
  <div class="boxhead"><h2>Benchmarks</h2></div>
  <div class="boxbody">
  {% for key,benchlist in benchmarks.items %}
  <ul><a href="#" class="togglefold">{{ key }}</a> <a href="#" class="checkall">(All</a>, <a href="#" class="uncheckall">None)</a>
    {% for bench in benchlist|dictsort:"name" %}
    <li title="{{ bench.description }}">
      <input id="benchmark_{{ bench.id }}" type="checkbox" name="benchmarks" value="{{ bench.id }}" />
      <label for="benchmark_{{ bench.id }}">{{ bench }}</label>
    </li>{% endfor %}
  </ul>{% endfor %}
  </div>
</div>
</div>

<div id="configbar">
  <span class="options" title="Select chart type">Chart type:
    <select id="chart_type">{% for chart in charts %}
      <option value="{{ chart }}">{{ chart }}</option>{% endfor %}
    </select>
  </span>
  <span class="options" title="Select baseline for normalization">Normalization:
    <select id="baseline">
      <option value="none">None</option>{% for proj, exes in executables.items %}
      {% for exe in exes %}
      <option value="{{ exe.key }}">{{ exe.name }}</option>{% endfor %}
      {% endfor %}
    </select>
  </span>
  <span class="options">
    <label for="direction">horizontal</label>
    <input id="direction" type="checkbox" name="direction" value="horizontal"/>
  </span>
  <a id="permalink" href="#">Permalink</a>
</div>
<div id="content" class="clearfix">
<div id="plotwrapper"></div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{% static 'js/jqplot/excanvas.min.js' %}"></script><![endif]-->
<script type="text/javascript" src="{% static 'js/jqplot/jquery.jqplot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.barRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.categoryAxisRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.canvasTextRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.canvasAxisTickRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.canvasAxisLabelRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/comparison.js' %}"></script>

<script type="text/javascript">
  $(function() {
    Comparison.init({
      chart_type: "{{ selectedchart }}",
      baseline: "{{ selectedbaseline }}",
      direction: "{{ selecteddirection }}",
      executables: [{% for e in checkedexecutables %}"{{ e }}",{% endfor %}],
      benchmarks: [{% for b in checkedbenchmarks %}{{ b.id }},{% endfor %}],
      environments: [{% for e in checkedenviros %}{{ e.id }},{% endfor %}],
      bench_units: eval({{ bench_units|safe }})
    });
  });
</script>
{% endblock %}
