{% extends "codespeed/base_site.html" %}

{% load static %}

{% block title %}{{ block.super }}: Timeline{% endblock %}
{% block description %}{% if pagedesc %}{{ pagedesc }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block extra_head %}
{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static '/css/timeline.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jqplot/jquery.jqplot.min.css' %}" />
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}
{% block nav-timeline %}class="current"><a href="{% url "timeline" %}">Timeline</a>{% endblock %}

{% block body %}
<div id="sidebar">
<div class="sidebox">
  <div class="boxhead"><h2>Environment</h2></div>
  <div class="boxbody">
    <ul>
    {% for env in environments %}
      <li title="{{ env.os }}, {{ env.cpu }}">
        <input id="env{{ env.name }}" type="radio" name="environments" value="{{ env.id }}" />
        <label for="env{{ env.name }}">{{ env }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="executable" class="sidebox">
  <div class="boxhead"><h2>Executables</h2></div>
  <div class="boxbody">
    <ul class="clearfix">{% for proj, execs in executables.items %}
      <ul>{{ proj }} <a href="#" class="checkall">(All</a>, <a href="#" class="uncheckall">None)</a>
      {% for exec in execs|dictsort:"name" %}
        <li title="{{ exec.description }}"><!-- the input id != value. It is used for exeutable color order -->
          <input id="executable{{ exec.id }}" type="checkbox" name="executable" value="{{ exec.id }}" />
          <label for="executable{{ exec.id }}">{{ exec }}</label><div class="seriescolor"></div>
        </li>{% endfor %}
      </ul>
    {% endfor %}
      <ul>
        <li title="Select baseline">Baseline:<div id="baselinecolor" class="seriescolor"></div><br/>
          <select id="baseline">
          {% for base in baseline %}<option value="{{ base.key }}">{{ base.name }}</option>{% endfor %}
          </select>
        </li>
      </ul>
    </ul>
  </div>
</div>
<div id="benchmark" class="sidebox">
  <div class="boxhead"><h2>Benchmark</h2></div>
  <div class="boxbody">{% ifnotequal benchmarks|length 1 %}
  <ul>
    <li>
      <input id="benchmarkgrid" type="radio" name="benchmark" value="grid" />
      <label for="benchmarkgrid">Display all in a grid</label>
    </li>
    <li>
      <input id="b_show_none" type="radio" name="benchmark" value="show_none" />
      <label for="b_show_none">Display none</label>
    </li>
  </ul>{% endifnotequal %}
  <ul>{% for bench in benchmarks|dictsort:"name" %}
    <li title="{{ bench.description }}">
      <input id="benchmark_{{ bench.id }}" type="radio" name="benchmark" value="{{ bench.name }}" />
      <label for="benchmark_{{ bench.id }}">{{ bench }}</label>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>
</div>

<div id="configbar">
  <span class="options" title="Last {{ defaultlast }} revisions tested">
    Show the last
    <select id="revisions">{% for rev in lastrevisions %}
      <option value="{{ rev }}">{{ rev }}</option>{% endfor %}
    </select> results
  </span>
  <span class="options" title="Equal distance between results">
    <input id="equidistant" name="equidistant" type="checkbox" />
    <label for="equidistant">Equidistant</label>
  </span>
  {% if use_median_bands %}
  <span class="options median" title="Shows quartile bands in the plots" style="display: none">
    <input id="show_quartile_bands" type="checkbox" name="show_quartile_bands" checked="checked"/>
    <label for="show_quartile_bands">Show quartile bands</label>
  </span>
  <span class="options median" title="Shows extrema bands in the plots" style="display: none">
    <input id="show_extrema_bands" type="checkbox" name="show_extrema_bands" checked="checked"/>
    <label for="show_extrema_bands">Show extrema bands</label>
  </span>
  {% endif %}
  <a id="permalink" href="#">Permalink</a>
</div>
<div id="content" class="clearfix">
<div id="plotgrid"></div>
<div id="plotdescription"></div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{% static 'js/jqplot/excanvas.min.js' %}"></script><![endif]-->
<script type="text/javascript" src="{% static 'js/jquery.address-1.6.min.js' %}?autoUpdate=0"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jquery.jqplot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.cursor.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.highlighter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.dateAxisRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.categoryAxisRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.canvasTextRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/jqplot.canvasAxisLabelRenderer.min.js' %}"></script>
<script type="text/javascript">
  var CHANGES_URL = "{% url "changes" %}";
</script>
<script type="text/javascript" src="{% static 'js/timeline.js' %}"></script>
<script type="text/javascript">
  $(function() {
    Timeline.init({
      revisions: {{ defaultlast }},
      baseline: "{{ defaultbaseline }}",
      executables: [{% for exe in checkedexecutables %}{{ exe.id }}, {% endfor %}],
      branches: [{% for b in branch_list %}"{{ branch }}", {% endfor %}],
      benchmark: "{{ defaultbenchmark }}",
      environment: {{ defaultenvironment.id }},
      equidistant: "{{ defaultequid }}",
      quartiles: "{{ defaultquarts }}",
      extrema: "{{ defaultextr }}"
    });
  });
</script>
{% endblock %}
