Django>=1.3
South>=0.7.3
-e git://github.com/toastdriven/django-tastypie.git@d9c86299118b4a1db9f646018169c1c45fd065df#egg=django-tastypie
#-e git://github.com/robhudson/django-debug-toolbar.git#egg=django-debug-toolbar
