language: python
python:
  - 2.7
  - 3.4
branches:
  only:
    - master
env:
  - DJANGO_VERSION=1.8.17
  - DJANGO_VERSION=1.9.12
install:
  - pip install flake8
  - pip install -q Django==$DJANGO_VERSION
  - python setup.py install
before_script:
   flake8 codespeed
script:
  - python setup.py test
  - python manage.py test codespeed
