Django>=1.3
South>=0.7.3
isodate==0.4.8
-e git://github.com/toastdriven/django-tastypie.git@5397dec04fe83092a56ba14a843731f2aa08184d#egg=django-tastypie
#-e git://github.com/robhudson/django-debug-toolbar.git#egg=django-debug-toolbar
