<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>MyProject's Speed Center{% block title %}{% endblock %}</title>
  <meta name="description" content="A performance analysis tool for software projects. It shows performance regresions and allows competing applications or implementations">
  <meta name="keywords" content="performance, test, interpreter, plots, charts">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <link href="../media/css/main.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../media/js/codespeed.js"></script>
  <script type="text/javascript" src="../media/js/jquery-1.4.4.min.js"></script>
{% block script %}
{% endblock %}
</head>

<body>
<div id="containter">
<div id="title" class="clearfix">
  <img src="../media/images/logo.png" height="48" alt="logo"/><h2>SPEED CENTER</h2>
  <ul id="links" class="inline">
    <li><a href="/">&#187;Home</a></li><li><a href="../about/">&#187;About</a></li>
  </ul>
</div>

<div id="wrapper">
<div id="nav">
{% block navigation %}
{% endblock %}
</div>
<div id="workarea" class="clearfix">
{% block body %}
  <div id="configbar">Base template</div>
{% endblock %}
</div>
</div>
{% block footer %}
{% endblock %}
</div>
</body>
</html>
