{% extends "base.html" %}
{% block title %}PyPy Speed Center{% endblock %}
{% block body %}
{% block script %}
<script type="text/javascript">
  $(function() {
    $("#changes").click(function () { window.location="/changes/"; });
    $("#timeline").click(function () { window.location="/timeline/"; });
  });
</script>
{% endblock %}

<div id="presentation_wrapper">
<p><a href="about/">This site</a> monitors <a href="http://www.pypy.org">PyPy</a>'s performance</p>
<div id="presentation" class="clearfix">
    <div id="changes">
      <h2>Changes</h2>
      <p>Track performance changes in the latest revisions</p>
      <img src="/media/images/changes.png" height="130" width="250" alt="Changes"/>
    </div>
    <div id="timeline">
      <h2>Timeline</h2>
      <p>Analyze performance over time</p>
      <img src="/media/images/timeline.png" height="150" width="250" alt="Timeline"/>
    </div>
</div>
</div>
{% endblock %}
