<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}PyPy Speed{% endblock %}</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<!--   <link href="/media/css/main2.css" rel="alternate stylesheet" type="text/css" title="default" /> -->
<!--   <link href="/media/css/main3.css" rel="alternate stylesheet" type="text/css" title="main3" /> -->
<!--   <link href="/media/css/main4.css" rel="alternate stylesheet" type="text/css" title="main4" /> -->
  <link href="/media/css/main5.css" rel="stylesheet" type="text/css" title="main5" />
  
  
  <script type="text/javascript" src="/media/js/jquery-1.4.1.min.js"></script>
  <script language="javascript" type="text/javascript" src="/media/js/ued_encode.js"></script>
  <script type="text/javascript" src="/media/js/codespeed.js"></script>
{% block script %}
{% endblock %}
</head>

<body>
<div id="containter">
<div id="header">
<div id="title"><img src="/media/images/logo-pypy.png" hight="86" width="248" align="middle"/><h1>SPEED CENTER</h1></div>
</div>

<div id="wrapper">
<div id="navigation">
{% block navigation %}
  <div id="tabs">
    <ul>
      <li><a href="/overview/">Overview</a></li>
      <li><a href="#">Timeline</a></li>
      <li><a href="/results/">Results</a></li>
    </ul>
  </div>{% endblock %}
</div>
<div id="workarea">
{% block body %}
  <div id="configbar">Start page</div>
{% endblock %}
</div>
</div>
{% block footer %}
{% endblock %}
<div style="clear: both;">
</div>
</body>
</html>
