{% extends "base.html" %}
{% block title %}PyPy Speed Center: Timeline{% endblock %}
{% block script %}
<!--[if IE]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="/media/js/jqplot/jquery.jqplot.min.css" />
<script language="javascript" type="text/javascript" src="/media/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/media/js/jqplot/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/media/js/jqplot/jqplot.highlighter.min.js"></script>

<script type="text/javascript">
  var seriesColors = ["#d8b83f", "#4bb2c5", "#EAA228", "#c5b47f", "#579575", "#839557", "#958c12", "#953579", "#4b5de4", "#ff5800", "#0085cc"];
  
  function getConfiguration() {
    var config = new Object();
    config["interpreters"] = "";
    $("input[name='interpreter']:checked").each(function() {
      config["interpreters"] += $(this).val() + ",";
    });
    config["interpreters"] = config["interpreters"].slice(0, -1);
    config["baseline"] = $("#baseline").is(':checked');
    config["benchmark"] = $("input[name='benchmark']:checked").val();
    config["revisions"] = $("#revisions option:selected").val();
    return config;
  }
  
  function permalink() {
    window.location="?" + ued_encode(getConfiguration());
  }
  
  function renderPlot(data) {
    if(data["error"] != "None") {
      h = parseInt($("#content").css("height"));
      $("#content").html(getLoadText(data["error"], h));
      return 1;
    }
    var plotdata = new Array();
    var series = new Array();
    var xmin = 71100;
    var xmax = 71200;
    datalength = 0;
    $("input[name='interpreter']:checked").each(function() {
      var id = $(this).val();
      series.push({"label": $("label[for*='" + id + "']").html(), "color": seriesColors[id-1]});
      plotdata.push(data[id]);
      if (data[id].length > datalength) {
        datalength = data[id].length;
        xmin = data[id][data[id].length-1][0];
        xmax = data[id][0][0];
      }
      // TODO: color list?       $(this).parent().css("background-color", seriesColors[id-1]);
    });
    if ($("#baseline").is(':checked')) {
      var id = $("#baseline").val();
      series.push({
        "label": $("label[for*='baseline']").html(), "color": seriesColors[id-1],
        showMarker: false, 
        lineWidth: 1
      });
      plotdata.push([[xmin, data["baseline"]], [xmax, data["baseline"]]]);
    }
    $("#content").html('<div id="plot"></div>');
    plot = $.jqplot('plot',  plotdata, {
      series: series,
      axes:{
        yaxis:{label: '(s)', min: 0, autoscale:true, tickOptions:{formatString:'%.2f'}},
        xaxis:{label: 'Revision', pad: 1.01, autoscale:true, tickOptions:{formatString:'%d'}}
      },
      legend: {show: true, location: 'nw'},
      highlighter: {sizeAdjust: 7.5},
      cursor:{zoom:true, showTooltip:false, clickReset:true}
    });
  }
  
  function refreshContent() {
    var h = parseInt($("#content").css("height"));//get height for loading text
    if ($("#plot").length == 0) {//Previous error, no plot div
      $("#content").html(getLoadText("Loading...", h));
      $.getJSON("json/", getConfiguration(), renderPlot);
    } else {//normal case
      $("#plot").fadeOut("fast", function() {
        $("#content").html(getLoadText("Loading...", h));
        $.getJSON("json/", getConfiguration(), renderPlot);
      });
    }
  }
  
  $(function() {
    $.ajaxSetup ({  
      cache: false  
    });
    $("#revisions").val({{ defaultlast }});
    $("#revisions").change(refreshContent);
    $("input:checkbox").removeAttr('checked');
    {% if defaultbaseline %}$("input[name='baseline']").attr('checked', true);{% endif %}
    $("input[name='baseline']").change(refreshContent);
    {% for defaultinterpreter in defaultinterpreters %}
    $("input[name='interpreter']").filter('[value={{ defaultinterpreter }}]').attr('checked', true);
    {% endfor %}
    $("input[name='interpreter']").change(refreshContent);
    $("input:radio[name='benchmark']").filter('[value={{ defaultbenchmark }}]').attr('checked', true);
    $("input[name='benchmark']").change(refreshContent);
    $("input:radio[name=host]").filter('[value={{ defaulthost }}]').attr('checked', true);
    $("input[name='host']").change(refreshContent);
    
    refreshContent();
  });
</script>
{% endblock %}

{% block navigation %}
    <ul>
      <li><a href="/overview/">Overview</a></li>
      <li><a href="/timeline/" class="current">Timeline</a></li>
<!--       <li><a href="/comparison/">Comparison</a></li> -->
    </ul>
{% endblock %}

{% block body %}
<div id="sidebar">
<div id="interpreter" class="sidebox">
  <div class="boxhead"><h2>Interpreter</h2></div>
  <div class="boxbody"><ul>
    {% for inter in interpreters|dictsort:"id" %}<li>
    <input id="interpreter{{ inter.id }}" type="checkbox" name="interpreter" value="{{ inter.id }}" />
    <label for="interpreter{{ inter.id }}">{{ inter.name }}</label></li>
    {% endfor %}
    </ul>
    <ul>
      <li>
        <input id="baseline" type="checkbox" name="baseline" value="{{ baseline.id }}" />
        <label for="baseline">{{ baseline.name }} {{ baselinetag }}</label></li>
    </ul>
  </div>
</div>
<div id="benchmark" class="sidebox">
  <div class="boxhead"><h2>Benchmark</h2></div>
  <div class="boxbody">
  <ul>
    {% for bench in benchmarks|dictsort:"name" %}
    <li{% ifnotequal bench.description "" %} title="{{ bench.description }}"{% endifnotequal %}>
      <input id="benchmark{{ bench.id }}" type="radio" name="benchmark" value="{{ bench.id }}" />
      <label for="benchmark{{ bench.id }}">{{ bench }}</label>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>
<div class="sidebox">
  <div class="boxhead"><h2>Host</h2></div>
  <div class="boxbody">
    <ul>
    {% for host in hostlist %}
      <li title="{{ host.os }}, {{ host.cpu }}">
        <input id="host{{ host.id }}" type="radio" name="host" value="{{ host.id }}" />
        <label for="host{{ host.id }}">{{ host }}</label>
      </li>
    {% endfor %}
  </div>
</div>
</div>

<div id="configbar">Results for last
  <select id="revisions" title="Last {{ rev }} revisions tested">{% for rev in lastrevisions %}
    <option value="{{ rev }}">{{ rev }}</option>{% endfor %}
  </select> revisions<a id="permalink" href="javascript:permalink();">Permalink</a>
</div>
<div id="content">
<div id="plot"></div>
</div>
{% endblock %}
