body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: #596A74;
    background-image: url(/media/images/vgradient.png);
    background-repeat: repeat-x;
    font-size: 16px;
}
a:link, a:visited, a:hover { color: blue; text-decoration: none; }

div#containter { width: 98%; margin: 0; margin-left: auto; margin-right: auto; }

div#title {
    height: 74px;
    position: relative;
    margin-bottom: 0.8em;
    background-color: #F1F1F1;
    color: #000000;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
}
div#title img { float: left; padding: 0.2em; margin: 0; }
div#title h1 { float: left; line-height: 72px; margin: 0; font-style: italic; }

ul.inline { margin: 0; padding: 0; }
ul.inline li {
    display: inline-block;
    list-style: none;
    zoom: 1; /* IE7 (hasLayout)*/
    *display: inline; /* IE */
}

ul#links { position: absolute; bottom: 0; right: 0; padding: 0.8em; font-size: large; }
ul#links li { margin-left: 0.8em; }
ul#links li a:link, ul#links li a:visited { color: #000000; }
ul#links li a:hover { text-decoration: underline; }

div#wrapper { margin: 0; }

div#nav ul {
    padding-left: 15.3em;
    font-family: Verdana, sans-serif;
}
div#nav ul li {
    background-color: #DADADA;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
   -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
}
div#nav ul li a {
    display: block;
    width: 8.5em;
    text-decoration: none;
    text-align: center;
    color: #888888;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
}

div#nav ul li.current {
    background-color: #F1F1F1;
    font-weight: bold;
}
div#nav ul li.current a { color: #000000; }

div#nav ul li:hover { background-color: #F1F1F1; }
div#nav ul li:hover a { color: #2D2F32; }

div#workarea {
    background-color: #F1F1F1;
    padding: 0.8em;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

div#presentation_wrapper {
    width: 725px;
    margin-left: auto; margin-right: auto;
    text-align: center;
}
div#presentation_wrapper p { font-size: large; }
div#presentation_wrapper p a:hover { text-decoration: underline; }
div#presentation div {
    background-image: url(/media/images/vgradient-s.png);
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    color: white;
    position: relative;
    float: left;
    height: 260px;
    width: 270px;
    cursor: pointer;
    text-align: center;
    margin: 1.6em;
    padding: 0.8em;
    border: 5px solid #F1F1F1;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
div#presentation p { text-align: left; font-size: medium; }

div#presentation div:hover {
    border: 5px solid #FFCE9C;
}

div#presentation h2 {  }
div#presentation img { border: 0; position: relative; bottom: 0px;}

div#sidebar {
    width: 13.7em;
    float: left;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

div#configbar {
    position: relative;
    margin-left: 14.5em;
    background-color: #FFFFFF;
    margin-bottom: 0.8em;
    padding: 0.8em;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

div#content, div.about_content {
    margin-left: 14.5em;
    text-align: center;
    padding: 0.8em;
    background-color: #FFFFFF;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

div.about_content { text-align: left; }

.sidebox {
    overflow: hidden;
    margin: 0;
    margin-bottom: 2.2em;
/*     background: url(sbbody-r.gif) no-repeat bottom right; */
    font-size: 90%;
}
.boxhead {
/*     background: url(sbhead-r.gif) no-repeat top right; */
    background-color: #9DADC6;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.boxhead h2 {
/*     background: url(sbhead-l.gif) no-repeat top left; */
    margin: 0;
    padding: 0.5em 0.8em 0.3em;
    color: white; 
    font-weight: bold; 
    font-size: 1.1em; 
    line-height: 1em;
}
.boxbody {
/*     background: url(sbbody-l.gif) no-repeat bottom left; */
/*     background-color: #F1F1F1; */
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-radius-bottomleft: 12px;
    -webkit-border-radius-bottomright: 12px;
    margin: 0;
    padding: 0.5em 0.8em 0.8em;
/*     padding: 5px 30px 31px; */
}
.boxbody ul {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}
.boxbody ul li ul { margin: 0; padding: 0; }
.boxbody ul li ul h4 { margin: 0 0 0.4em; padding: 0; font-size: 1em; font-weight: normal;}
.boxbody ul li ul li { margin-left: 1em; }
.boxbody input[type="radio"] { margin-left: 0; }
.boxbody input[type="checkbox"] { margin-left: 0; }
.boxbody label { vertical-align: top; }
/*.boxbody input[type="text"] {
    margin-left: 0; margin-right: 2.5em; margin-bottom: 0.2em; float: right; width: 2em;
}*/
/* .boxbody select {float: right;} */
#options li { margin-bottom: 0.8em; }
.seriescolor { float: right; margin-top: 2px; height: 13px; width: 14px; }

/* tables */
table.tablesorter, table.commits {
    font-family:arial;
    font-size: 11pt;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #CDCDCD;
    background-color: #fafafa;
}

table.tablesorter {
    width: 100%;
}

table#results thead tr th { padding-right: 10px; }
table#results thead tr th.w {  width: 5em; }
table#results thead tr th.bar {
    background-image: url(/media/images/gridline_units.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    vertical-align: top;
    text-align: center;
    cursor: default;
}

table.tablesorter thead tr th {
    background-color: #9DADC6;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(/media/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tfoot tr td {
    border: 2px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    padding: 4px 5px 3px 5px;
    vertical-align: top;
    text-align: right;
}
table.tablesorter tfoot tr td.text { text-align: left; }
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px 5px 3px 5px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/media/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/media/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

table.tablesorter tbody td.text {text-align: left;}

table.tablesorter tbody td.bar, table.tablesorter tfoot tr td.bar {
    background-image: url(/media/images/gridline.png);
    background-repeat: repeat;
    background-position: left top;
    text-align: left;
    padding: 0px;
    border: none;
    background-color:transparent;
}

table.tablesorter tfoot tr td.bar {
    border: 2px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;/*Firefox table border-collapse bug*/
}
    
table.tablesorter tbody td.bar img {
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    border: none;
}

table.tablesorter tbody span, table.tablesorter tfoot span {
  display: block; 
  height: 1.45em;
  margin-top: 0.2em;
  background: #5AA1D3; 
  text-indent: -9999px; 
  overflow: hidden; 
}

table.tablesorter tbody tr td.status-red, .status-red  { background-color: #FF5640; }
table.tablesorter tbody tr td.status-green, .status-green { background-color: #9FD54D; }
/* table.tablesorter tbody tr td.status-yellow { background-color: #FEE772; } */
table.tablesorter tbody tr.highlight td {
    background-color: #9DADC6 !important;
    cursor: pointer;
}

table.commits { width: 100%; margin-top: 2em;}
table.commits th, table.commits td { padding: 0.5em; }
table.commits th { background-color: #F1F1F1; font-weight: normal; }
table.commits tbody tr td {
  border-bottom: 1px solid #CDCDCD;
  vertical-align: top;
}

table.commits tbody tr td.date, div.author, span.note { font-size: 92%; color: #666666; }
table.commits tbody tr td.date { padding-top: 0.6em;}
/* div.author{ margin-bottom: 0.3em; } */

a#permalink { float: right; font-size: small; }
a#permalink:hover { text-decoration: underline; }

div#plot { text-align: left; height: 500px; width: 100%; }
div.miniplot {
    cursor: pointer;
    margin: 0.5em;
    text-align: left;
    float: left;
    height: 130px;
    width: 23%;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
div.miniplot:hover {background-color: #F1F1F1;}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
