body {
    min-width: 960px;
    margin: 0; padding: 0;
    background-color: #596A74;
    background-image: url(/media/images/vgradient-s.png);
    background-repeat: repeat-x;
}
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

div#containter { width: 98%; margin-left: auto; margin-right: auto; }

div#title {
    position: relative;
    margin-bottom: 0.8em;
    background-color: #F1F1F1;
    color: #000000;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-radius-bottomleft: 12px;
    -webkit-border-radius-bottomright: 12px;
    border-radius-bottomleft: 12px;
    border-radius-bottomright: 12px;
}
div#title img { float: left; padding: 0.2em;}
div#title h1 { line-height: 72px; margin: 0; font-style: italic; }
div#wrapper { margin: 0; }

div#nav ul {
    margin: 0; padding: 0; padding-left: 15.3em;
    font-family: Verdana, sans-serif;
}
div#nav li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    zoom: 1; /* IE7 (hasLayout)*/
    *display: inline; /* IE */
}

div#nav ul li a:link, div#nav ul li a:visited {
    display: block;
    width: 8.5em;
    text-decoration: none;
    text-align: center;
    background-color: #DADADA;
    color: #888888;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-radius-topleft: 20px;
    -webkit-border-radius-topright: 20px;
}

div#nav ul li a.current {
    background-color: #F1F1F1;
    color: #000000;
    font-weight: bold;
}

div#nav ul li a:hover { background-color: #F1F1F1; color: #2D2F32; }

div#workarea {
    background-color: #F1F1F1;
    padding: 0.8em;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

div#sidebar {
    width: 13.7em;
    float: left;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

div#configbar {
    position: relative;
    margin-left: 14.5em;
    background-color: #FFFFFF;
    margin-bottom: 0.8em;
    padding: 0.8em;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

div#content {
    margin-left: 14.5em;
    text-align: center;
    padding: 0.8em;
    background-color: #FFFFFF;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.sidebox {
    overflow: hidden;
    margin: 0;
    margin-bottom: 2.2em;
/*     background: url(sbbody-r.gif) no-repeat bottom right; */
    font-size: 90%;
}
.boxhead {
/*     background: url(sbhead-r.gif) no-repeat top right; */
    background-color: #9DADC6;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.boxhead h2 {
/*     background: url(sbhead-l.gif) no-repeat top left; */
    margin: 0;
    padding: 0.5em 0.8em 0.3em;
    color: white; 
    font-weight: bold; 
    font-size: 1.1em; 
    line-height: 1em;
}
.boxbody {
/*     background: url(sbbody-l.gif) no-repeat bottom left; */
/*     background-color: #F1F1F1; */
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-radius-bottomleft: 12px;
    -webkit-border-radius-bottomright: 12px;
    margin: 0;
    padding: 0.5em 0.8em 0.8em;
/*     padding: 5px 30px 31px; */
}
.boxbody ul {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}
.boxbody ul li ul { margin: 0; padding: 0; }
.boxbody ul li ul h4 { margin: 0 0 0.4em; padding: 0; font-size: 1em; font-weight: normal;}
.boxbody ul li ul li { margin-left: 1em; }
.boxbody input[type="radio"] { margin-left: 0; }
.boxbody input[type="checkbox"] { margin-left: 0; }
.boxbody label { vertical-align: top; }
/*.boxbody input[type="text"] {
    margin-left: 0; margin-right: 2.5em; margin-bottom: 0.2em; float: right; width: 2em;
}*/

.seriescolor { float: right; margin-top: 3px; height: 12px; width: 12px; }

/* tables */
table.tablesorter {
    width: 100%;
    font-family:arial;
    font-size: 11pt;
    text-align: left;
    background-color: #fafafa;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #CDCDCD;
}

table#results thead tr th { padding-right: 9px; }
table#results thead tr th.w {  width: 6em; }
table#results thead tr th.bar {
    background-image: url(/media/images/gridline_units.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    vertical-align: top;
    text-align: center;
}

table.tablesorter thead tr th {
    background-color: #9DADC6;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(/media/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tfoot tr td {
    border: 2px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    padding: 4px;
    vertical-align: top;
    text-align: right;
}
table.tablesorter tfoot tr td.text { text-align: left; }
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/media/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/media/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

table.tablesorter tbody td.text {text-align: left;}

table.tablesorter tbody td.bar, table.tablesorter tfoot tr td.bar {
    background-image: url(/media/images/gridline.png);
    background-repeat: repeat;
    background-position: left top;
    text-align: left;
    padding: 0px;
    border: none;
    background-color:transparent;
}

table.tablesorter tfoot tr td.bar { border: 2px solid #CDCDCD; border-left: 1px solid #CDCDCD;}/*Firefox table border-collapse bug*/
    
table.tablesorter tbody td.bar img {
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    border: none;
}

table.tablesorter tbody span, table.tablesorter tfoot span {
  display: block; 
  height: 1.45em;
  margin-top: 0.2em;
  background: #5AA1D3; 
  text-indent: -9999px; 
  overflow: hidden; 
}

table.tablesorter tbody tr td.status-red, .status-red  { background-color: #FF5640; }
table.tablesorter tbody tr td.status-green, .status-green { background-color: #9FD54D; }
/* table.tablesorter tbody tr td.status-yellow { background-color: #FEE772; } */
table.tablesorter tbody tr.highlight td {
    background-color: #9DADC6 !important;
    cursor: pointer;
}

a#permalink { float: right; font-size: small; }

div#plot { text-align: left; height: 500px; width: 100%; }
div.miniplot {
    cursor: pointer;
    margin: 0.5em;
    text-align: left;
    float: left;
    height: 130px;
    width: 23%;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
div.miniplot:hover {background-color: #F1F1F1;}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */