<div class="leftcolumn">{% for units in tablelist %}
<table class="tablesorter">
<thead>
  <tr>
    <th>Benchmark</th><th>{{ units.units_title }} in {{ units.units }}<label style="display:none;">{{ untis.lessisbetter }}</label></th><th>Std dev</th><th>Current change</th><th title="Trend for the last {{ trendconfig }} revisions"">Trend</th>
  </tr>
</thead>
<tfoot>
  <tr><td class="text" title="Arithmetic mean">Average</td><td></td><td></td><td>{{ units.totals.change|floatformat:2 }}%</td><td>{{ units.totals.trend|floatformat:2 }}%</td></tr>
</tfoot>
<tbody>
{% for row in units.rows %}  <tr>
        <td class="text" title="{{ row.benchmark.description }}">{{ row.benchmark.name }}</td><td>{{ row.result|floatformat:row.precission }}</td><td>{{ row.std_dev|floatformat:row.precission }}</td><td>{{ row.change|floatformat:2 }}%</td><td>{% ifequal row.trend "-" %}-{% endifequal %}{% ifnotequal row.trend "-" %}{{ row.trend|floatformat:2 }}%{% endifnotequal %}</td>
  </tr>{% endfor %}
</tbody>
</table>{% endfor %}

<table class="info">
<thead>
  <tr>
    <th colspan="2">Executable</th>
  </tr>
</thead>
<tbody>
  <tr><td class="infofirst">Name</td><td>{{ exe }}</td></tr>
  <tr><td class="infofirst">Description</td><td>{{ exe.description }}</td></tr>
</tbody>
<thead>
  <tr>
    <th colspan="2">Environment</th>
  </tr>
</thead>
<tbody>
  <tr><td class="infofirst">Name</td><td>{{ env.name }}</td></tr>
  <tr><td class="infofirst">CPU</td><td>{{ env.cpu }}</td></tr>
  <tr><td class="infofirst">Memory</td><td>{{ env.memory }}</td></tr>
  <tr><td class="infofirst">OS</td><td>{{ env.os }}</td></tr>
  <tr><td class="infofirst">Kernel</td><td>{{ env.kernel }}</td></tr>
</tbody>
</table>
</div>
<table class="revision">
<thead>
  <tr>
    <th colspan="2">Revision</th>
  </tr>
</thead>
<tbody>
  <tr><td class="infofirst">Commit</td><td>{{ rev.commitid }}</td></tr>
  <tr><td class="infofirst">Date</td><td>{{ rev.date }}</td></tr>
</tbody>
{% ifnotequal executable.project.repo_type 'N' %}
<thead class="commits">
  <tr>
    <th colspan="2">Commit logs</th>
  </tr>
</thead>
<tbody class="commits" id="commitid__{{ lastrevision.id }}">
  <tr><td colspan="2" style="text-align:center;">Loading... <img src="/media/images/ajax-loader.gif" align="bottom"></td></tr>
</tbody>
  <script type="text/javascript">
    var revisionid = $("tbody.commits").attr("id");
    loadoption = "revisionid=" + revisionid.split('__')[1];
    $("#" + revisionid).load("logs/", loadoption);
  </script>
{% endifnotequal %}
</table>
