{% extends "base.html" %}
{% block title %}: Changes{% endblock %}
{% block script %}
<script type="text/javascript" src="../media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript">
    var projectmatrix = eval({{ projectmatrix|safe }});
    var revisionboxes = new Object();
    {% for project, revlist in revisionboxes.items %}
    revisionboxes['{{ project }}'] = '{% for rev in revlist %}<option value="{{ rev.commitid }}">{{ rev }}</option>{% endfor %}';{% endfor %}
    var currentproject = "{{ defaultexecutable.project }}";
  
    function getConfiguration() {
        var config = new Object();
        config["tre"] = $("#trend option:selected").val();
        config["rev"] = $("#revision option:selected").val();
        config["exe"] = $("input[name='executable']:checked").val();
        config["env"] = $("input[name='environment']:checked").val();
        return config;
    }
    
    function permalinkToTimeline(benchmark, environment) {
        window.location="../timeline/?ben=" + benchmark + "&env=" + environment;
    }

    function colorTable() {
        //color two colums to the right starting with index = last-1
        var changethres = {{ defaultchangethres }};
        var trendthres = {{ defaulttrendthres }};
        // Each because there is one table per units type
        $(".tablesorter").each(function() {
            // Find column index of the current change column (one before last)
            var index = $(this).find("thead tr th").length -2;
            var lessisbetter = $(this).find("th:eq(1) label").text();
            $(this).find(":not(thead) > tr").each(function() {
                var change = $(this).children("td:eq("+index+")").text().slice(0, -1);
                var trend = $(this).children("td:eq("+(index+1)+")").text().slice(0, -1);
                // Check whether less is better
                if (lessisbetter == "False") {
                    change = -change;
                    trend = -trend;
                }
                //Color change column
                $(this).children("td:eq("+index+")").addClass(getColorcode(-change, changethres, -changethres));
                //Color trend column
                $(this).children("td:eq("+(index+1)+")").addClass(getColorcode(-trend, trendthres, -trendthres));
            });
        });
    }
  
    function updateTable() {
        colorTable();
        //Add permalink events to table rows
        $(".tablesorter > tbody > tr").each(function() {
            $(this).click(function () {
                var environment = $("input[name='environment']:checked").val();
                permalinkToTimeline($(this).children("td:eq(0)").text(), environment);
            });
        });
        //Add hover effect to rows
        $(".tablesorter > tbody > tr > td").hover(function() {
            $(this).parents('tr').addClass('highlight');
        }, function() {
            $(this).parents('tr').removeClass('highlight');
        });
        //Configure table as tablesorter
        $(".tablesorter").tablesorter({widgets: ['zebra']});
    }
    
    function refreshContent() {
        var h = parseInt($("#content").css("height"));//get height for loading text
        $("#contentwrap").fadeOut("fast", function() {
            $(this).show();
            $(this).html(getLoadText("Loading...", h, true));
            $(this).load("table/", $.param(getConfiguration()), function(responseText) { updateTable(); });
        });
    }
    
    function changerevisions() {
        // This function repopulates the revision selectbox everytime a new
        // executable is selected that corresponds to a different project.
        var executable = $("input[name='executable']:checked").val();
        if (projectmatrix[executable] != currentproject) {
            $("#revision").html(revisionboxes[projectmatrix[executable]]);
            currentproject = projectmatrix[executable];
            
            //Give visual cue that the select box has changed
            var bgc = $("#revision").parent().parent().css("backgroundColor");
            $("#revision").parent()
                .animate({ backgroundColor: "#9DADC6" }, 200, function() {
                // Animation complete.
                $(this).animate({ backgroundColor: bgc }, 1500);
            });
        }
        refreshContent();
    }
  
    $(function() {
        // Configure defaults
        $("#trend").val("{{ defaulttrend }}");
        $("#trend").change(refreshContent);
        
        $("input:radio[name=executable]").filter('[value="{{ defaultexecutable.id }}"]').attr('checked', true);
        $("input[name='executable']").change(changerevisions);
        
        $("input:radio[name='environment']").filter('[value="{{ defaultenvironment.name }}"]').attr('checked', true);
        $("input[name='environment']").change(refreshContent);
        
        //repopulate revision select box if the project has changed
        $("#revision").html(revisionboxes['{{ defaultexecutable.project.name }}']);
        $("#revision").val("{{ selectedrevision.commitid }}");
        $("#revision").change(refreshContent);
        
        refreshContent();
    });
</script>
{% endblock %}

{% block navigation %}
    <ul class="inline">
      <li class="current"><a href="../changes/">Changes</a></li>
      <li><a href="../timeline/">Timeline</a></li>
      <li><a href="../comparison/">Comparison</a></li>
    </ul>
{% endblock %}

{% block body %}
<div id="sidebar">
<div id="executable" class="sidebox">
  <div class="boxhead"><h2>Executable</h2></div>
  <div class="boxbody">
    <ul>
    {% for exec in executables|dictsort:"id" %}
      <li title="{{ exec.description }}">
        <input id="executable{{ exec.id }}" type="radio" name="executable" value="{{ exec.id }}" />
        <label for="executable{{ exec.id }}">{{ exec }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<div class="sidebox">
  <div class="boxhead"><h2>Environment</h2></div>
  <div class="boxbody">
    <ul>
    {% for env in environments %}
      <li title="{{ env.os }}, {{ env.cpu }}">
        <input id="env{{ env.name }}" type="radio" name="environment" value="{{ env.name }}" />
        <label for="env{{ env.name }}">{{ env }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="options" class="sidebox">
  <div class="boxhead"><h2>Options</h2></div>
  <div class="boxbody">
  <ul>
    <li title="Trend since a given number of tested revisions ago. Average of 3 revisions">Trend for last<br/>
      <select id="trend">
      {% for trend in trends %}<option value="{{ trend }}">{{ trend }}</option>{% endfor %}
      </select> revisions
    </li>
  </ul>
  </div>
</div>

</div>

<div id="configbar">Results for revision
  <span><select id="revision"></select></span>
  <a id="permalink" href="javascript:permalink();">Permalink</a>
</div>
<div id="content" class="clearfix">
<div id="contentwrap"></div>
</div>
{% endblock %}
