{% extends "base.html" %}
{% block title %}: Comparison{% endblock %}
{% block script %}
<!--[if IE]><script language="javascript" type="text/javascript" src="/media/js/jqplot/excanvas.min.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="../media/js/jqplot/jquery.jqplot.min.css" />
<script type="text/javascript" src="../media/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="../media/js/jqplot/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="../media/js/jqplot/jqplot.categoryAxisRenderer.min.js"></script>

<script type="text/javascript">
  var compdata = new Object();
  
  function getConfiguration() {
    var config = new Object();
    config["exe"] = readCheckbox("input[name='executables']:checked");
    config["ben"] = readCheckbox("input[name='benchmarks']:checked");
    config["env"] = readCheckbox("input[name='environments']:checked");
    config["chart"] = $("#chart_type option:selected").val();
    return config;
  }      

  function refreshContent() {
    var conf = getConfiguration();
    
    var plotdata = [];
    var exes = conf['exe'].split(",");
    var enviros = conf['env'].split(",");
    var benchmarks  = conf['ben'].split(",");
    h = parseInt($("#content").css("height"));//get height for error message
    if (exes[0] == "") {
      $("#plot").html(getLoadText("No executables selected", h, false));
      return false;
    } else if (benchmarks[0] == "") {
      $("#plot").html(getLoadText("No benchmarks selected", h, false));
      return false;
    } else if (enviros[0] == "") {
      $("#plot").html(getLoadText("No environments selected", h, false));
      return false;
    }
    var ticks = new Array();
    for (var b in benchmarks) {
      ticks.push($("label[for='benchmark_" + benchmarks[b] + "']").text());
    }
    var series = [];
    for (var i in exes) {
      for (var j in enviros) {
        var exe = $("label[for='exe_" + exes[i] + "']").text();
        var env = $("label[for='env_" + enviros[j] + "']").text();
        series.push({'label': exe + " @ " + env});
        var customdata = [];
        var bcounter = 0;
        for (var b in benchmarks) {
          bcounter++;
          if (conf['chart'].indexOf("horizontal") == -1) {
            customdata.push(compdata[exes[i]][enviros[j]][benchmarks[b]]);
          } else {
            customdata.push([compdata[exes[i]][enviros[j]][benchmarks[b]], bcounter]);
          }
        }
        plotdata.push(customdata);
      }
    }

    var plotoptions = new Object();
    if (conf['chart'].indexOf("horizontal") == -1) {
      plotoptions = {
        seriesDefaults: {
          renderer:$.jqplot.BarRenderer,
          rendererOptions:{barDirection: "vertical", barPadding: 5, barMargin: 10}
        },
        axes: {
          xaxis:{
            renderer:$.jqplot.CategoryAxisRenderer,
            ticks: ticks
          },
          yaxis:{min:0}
        }
      }
    } else {
      plotoptions = {
        seriesDefaults: {
          renderer:$.jqplot.BarRenderer,
          rendererOptions:{barDirection: "horizontal", barPadding: 5, barMargin: 10}
        },
        axes: {
          xaxis:{min:0}, 
          yaxis:{
            renderer:$.jqplot.CategoryAxisRenderer,
            ticks: ticks
          }
        }
      }
    }
    plotoptions.legend = {show: true, location: 'ne'};
    plotoptions.series = series;
    $("#plot").fadeOut("fast", function() {
      $("#plot").html("").show();
      plot = $.jqplot('plot', plotdata, plotoptions);
    });
  }
  
  function savedata(data) {
    if (data['error'] != "None") {
      h = parseInt($("#content").css("height"));//get height for error message
      $("#plot").html(getLoadText(data["error"], h, false));
      return 1;
    }
    delete data['error'];
    compdata = data;
    refreshContent();
  }
  
  $(function() {
    $.ajaxSetup ({  
      cache: false  
    });
    
    //set default chart type
    $("#chart_type").val("{{ selectedchart }}");
    $("#chart_type").change(refreshContent);
    //reset all checkboxes
    $("input:checkbox").removeAttr('checked');
    
    //set default selected executables
    {% for checkedexecutable in checkedexecutables %}
    $("input[name='executables']").filter('[value={{ checkedexecutable }}]').attr('checked', true);{% endfor %}
    $("input[name='executables']").change(refreshContent);
    
    //set default selected benchmarks
    {% for checkedbenchmark in checkedbenchmarks %}
    $("input:checkbox[name='benchmarks']").filter('[value={{ checkedbenchmark.id }}]').attr('checked', true);{% endfor %}
    $("input[name='benchmarks']").change(refreshContent);
    
    //set default selected environments
    {% for checkedenv in checkedenviros %}
    $("input:checkbox[name='environments']").filter('[value={{ checkedenv.id }}]').attr('checked', true);{% endfor %}
    $("input[name='environments']").change(refreshContent);
    
    // Check all and none links
    $('.checkall').click(function() {
      $(this).parent().children("li").children("input").each(function() {
        $(this).attr('checked', true);
      });
      refreshContent();
      return false;
    });
    
    $('.uncheckall').click(function() {
      $(this).parent().children("li").children("input").each(function() {
        $(this).attr('checked', false);
      });
      refreshContent();
      return false;
    });
    
    // Get comparison data
    var h = parseInt($("#content").css("height"));//get height for loading text
    $("#plot").html(getLoadText("Loading...", h, true));
    $.getJSON("json/", savedata);
  });
</script>
{% endblock %}
{% block navigation %}
    <ul class="inline">
      <li><a href="/overview/">Overview</a></li>
      <li><a href="/timeline/">Timeline</a></li>
      <li class="current"><a href="/comparison/">Comparison</a></li>
    </ul>
{% endblock %}
{% block body %}
<div id="sidebar">
<div id="executable" class="sidebox">
  <div class="boxhead"><h2>Executables</h2></div>
  <div class="boxbody">
    <ul><a href="#" class="checkall">All</a>, <a href="#" class="uncheckall">None</a>
    {% for exe in executables %}
      <li title="{{ exe.revision }}">
        <input id="exe_{{ exe.key }}" type="checkbox" name="executables" value="{{ exe.key }}" />
        <label for="exe_{{ exe.key }}">{{ exe.name }}</label><div class="seriescolor"></div>
      </li>{% endfor %}
    </ul>
  </div>
</div>
<div id="benchmark" class="sidebox">
  <div class="boxhead"><h2>Benchmarks</h2></div>
  <div class="boxbody">
  <ul><a href="#" class="checkall">All</a>, <a href="#" class="uncheckall">None</a>
    {% for bench in benchmarks|dictsort:"name" %}
    <li{% ifnotequal bench.description "" %} title="{{ bench.description }}"{% endifnotequal %}>
      <input id="benchmark_{{ bench.id }}" type="checkbox" name="benchmarks" value="{{ bench.id }}" />
      <label for="benchmark_{{ bench.id }}">{{ bench }}</label>
    </li>{% endfor %}
  </ul>
  </div>
</div>
<div class="sidebox">
  <div class="boxhead"><h2>Environments</h2></div>
  <div class="boxbody">
    <ul>{% for env in enviros %}
      <li title="{{ env.os }}, {{ env.cpu }}">
        <input id="env_{{ env.id }}" type="checkbox" name="environments" value="{{ env.id }}" />
        <label for="env_{{ env.id }}">{{ env }}</label>
      </li>{% endfor %}
    </ul>
  </div>
</div>
</div>

<div id="configbar">Choose chart type:
  <select id="chart_type" title="">{% for chart in charts %}
    <option value="{{ chart }}">{{ chart }}</option>{% endfor %}
  </select><a id="permalink" href="javascript:permalink();">Permalink</a>
</div>
<div id="content" class="clearfix">
<div id="plot"></div>
</div>
{% endblock %}
