{% extends "base.html" %}
{% block title %}: Overview{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
  function getConfiguration() {
    var config = new Object();
    config["trend"] = $("#trend option:selected").val();
    config["baseline"] = $("#baseline option:selected").val();
    config["revision"] = $("#revision option:selected").val();
    config["executable"] = $("input[name='executable']:checked").val();
    return config;
  }
  
  function permalink() {
    window.location="?" + $.param(getConfiguration());
  }
  
  function permalinkToTimeline(benchmark) {
    window.location="/timeline/?benchmark=" + benchmark;
  }
  
  function isNumeric(textvalue) {
    if (textvalue.match(/^\d+$/) == null)
        return false;
    else
        return true;
  }

  function getColorcode(change, theigh, tlow) {
    var colorcode = "status-yellow";
    if(change < tlow) { colorcode = "status-red"; }
    else if(change > theigh) { colorcode = "status-green"; }
    return colorcode;
  }
  
  function colorTable() {
    var changethres = {{ defaultchangethres }};
    var trendthres = {{ defaulttrendthres }};
    var compthres = {{ defaultcompthres }};
    $("#results > :not(thead) > tr").each(function() {
      //Color change column
      var change = $(this).children("td:eq(3)").text().slice(0, -1);
      $(this).children("td:eq(3)").addClass(getColorcode(-change, changethres, -changethres));
      //Color trend column
      var trend = $(this).children("td:eq(4)").text().slice(0, -1);
      $(this).children("td:eq(4)").addClass(getColorcode(-trend, trendthres, -trendthres));
    });
  }
  
  function updateTable() {    
    colorTable();
    //process table rows
    var tdwidth = parseInt($("#results thead tr").find("th:eq(6)").css("width"));
    $("#results > tbody > tr").each(function() {
      //Size plot bars
      if ($(this).children("td:eq(5)").length) {
        var bar = transToLogBars(58, tdwidth,  parseFloat($(this).children("td:eq(5)").text()));
        $(this).children("td:eq(6)").find("span").css("width", bar["width"]).css("margin-left", bar["margin"]);
      }
      //Link rows to timelines
      $(this).click(function () {
        permalinkToTimeline($(this).children("td:eq(0)").text());
      });
    });
    //Configure table as tablesorter
    if ($("#results > tbody > tr").first().length) {
      $.tablesorter.defaults.sortList = [[5,1]];//sort by default by the 5th column
      $.tablesorter.defaults.headers = { 6: { sorter: false } };//disable sorting for bar column
    }
    $("#results").tablesorter({widgets: ['zebra']});
    $("#results tbody td").hover(function() {
      $(this).parents('tr').addClass('highlight');
    }, function() {
      $(this).parents('tr').removeClass('highlight');
    });
  }
  
  function refreshContent() {
    $.ajaxSetup ({
      cache: false
    });
    
    var h = parseInt($("#content").css("height"));//get height for loading text
    $("#results").fadeOut("fast", function() {
      $("#content").html(getLoadText("Loading...", h));
      $("#content").load("table/", $.param(getConfiguration()), function(responseText) { updateTable(); });
    });
  }
  
  $(function() {
    // Configure defaults
    $("#trend").val("{{ defaulttrend }}");
    $("#trend").change(refreshContent);
    $("#baseline").val("{{ defaultbaseline }}");
    $("#baseline").change(refreshContent);
    $("#revision").val("{{ selectedrevision }}");
    $("#revision").change(refreshContent);
    $("input:radio[name=executable]").filter('[value="{{ defaultexecutable }}"]').attr('checked', true);
    $("input[name='executable']").change(refreshContent);
    $("input:radio[name=host]").filter('[value="{{ defaultenvironment }}"]').attr('checked', true);
    $("input[name='host']").change(refreshContent);
    refreshContent();
  });
</script>
{% endblock %}

{% block navigation %}
    <ul class="inline">
      <li class="current"><a href="/overview/">Overview</a></li>
      <li><a href="/timeline/">Timeline</a></li>
    </ul>
{% endblock %}

{% block body %}
<div id="sidebar">
<div id="executable" class="sidebox">
  <div class="boxhead"><h2>Interpreter</h2></div>
  <div class="boxbody">
    <ul>
    {% for exec in executables|dictsort:"id" %}
      <li>
        <input id="executable{{ exec.id }}" type="radio" name="executable" value="{{ exec.id }}" />
        <label for="executable{{ exec.id }}">{{ exec.name }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="options" class="sidebox">
  <div class="boxhead"><h2>Options</h2></div>
  <div class="boxbody">
  <ul>
    <li title="Trend since a given number of tested revisions ago. Average of 3 revisions">Trend:<br/>
      <select id="trend">
      {% for trend in trends %}<option value="{{ trend }}">{{ trend }}</option>{% endfor %}
      </select>
    </li>
    <li title="Select executable for comparison">Compare to:<br/>
      <select id="baseline">
      {% for base in baseline %}<option value="{{ forloop.counter }}">{{ base.name }}</option>{% endfor %}
      </select>
    </li>
  </ul>
  </div>
</div>
<div class="sidebox">
  <div class="boxhead"><h2>Host</h2></div>
  <div class="boxbody">
    <ul>
    {% for host in hostlist %}
      <li title="{{ host.os }}, {{ host.cpu }}">
        <input id="host{{ host.id }}" type="radio" name="host" value="{{ host.id }}" />
        <label for="host{{ host.id }}">{{ host }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

</div>

<div id="configbar">Results for revision
  <select id="revision">{% for rev in lastrevisions %}
    <option value="{{ rev }}">{{ rev }}</option>{% endfor %}
  </select><a id="permalink" href="javascript:permalink();">Permalink</a>
</div>
<div id="content">
<table id="results" class="tablesorter" style="height: 232px;"></table>
</div>
{% endblock %}
