{% extends "base.html" %}
{% block title %}PyPy Speed Center: Overview{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
  function getConfiguration() {
    var config = new Object();
    config["trend"] = $("#trend option:selected").val();
    config["baseline"] = $("#baseline option:selected").val();
    config["revision"] = $("#revision option:selected").val();
    config["interpreter"] = $("input[name='interpreter']:checked").val();
    return config;
  }
  
  function permalink() {
    window.location="?" + $.param(getConfiguration());
  }
  
  function permalinkToTimeline(benchmark) {
    var conf = new Object();
    conf["interpreters"] = $("input[name='interpreter']:checked").val();
    //configure default interpreters checked (2 and 3)
    //if interpreter is pypy-c or pypy-c-jit add the other one.
    //If it is none of those keep just that one
    if (conf["interpreters"] == "2") { conf["interpreters"] += ",3"; }
    else if (conf["interpreters"] == "3") { conf["interpreters"] += ",2"; }
    conf["benchmark"] = benchmark;
    window.location="/timeline/?" + ued_encode(conf);
  }
  
  function isNumeric(textvalue) {
    if (textvalue.match(/^\d+$/) == null)
        return false;
    else
        return true;
  }

  function getColorcode(change, theigh, tlow) {
    var colorcode = "status-yellow";
    if(change < tlow) { colorcode = "status-red"; }
    else if(change > theigh) { colorcode = "status-green"; }
    return colorcode;
  }
  
  function colorTable() {
    var changethres = {{ defaultchangethres }};
    var trendthres = {{ defaulttrendthres }};
    var compthres = {{ defaultcompthres }};
    $("#results > :not(thead) > tr").each(function() {
      //Color change column
      var change = $(this).children("td:eq(2)").text().slice(0, -1);
      $(this).children("td:eq(2)").addClass(getColorcode(-change, changethres, -changethres));
      //Color trend column
      var trend = $(this).children("td:eq(3)").text().slice(0, -1);
      $(this).children("td:eq(3)").addClass(getColorcode(-trend, trendthres, -trendthres));
    });
  }
  
  function updateTable() {
    colorTable();
    //process table rows
    var tdwidth = parseInt($("#results thead tr").find("th:eq(5)").css("width"));
    $("#results > tbody > tr").each(function() {
      //Size plot bars
      var bar = transToLogBars(58, tdwidth,  parseFloat($(this).children("td:eq(4)").text()));
      $(this).children("td:eq(5)").find("span").css("width", bar["width"]).css("margin-left", bar["margin"]);
      //Link rows to timelines
      $(this).click(function () {
        permalinkToTimeline($(this).children("td:eq(0)").text());
      });
    });
    //Configure table as tablesorter
    $.tablesorter.defaults.sortList = [[4,1]];//sort by default by the 5th column
    $.tablesorter.defaults.headers = { 5: { sorter: false } };//disable sorting for bar column
    $("#results").tablesorter({widgets: ['zebra']});
    $("#results tbody td").hover(function() {
      $(this).parents('tr').addClass('highlight');
    }, function() {
      $(this).parents('tr').removeClass('highlight');
    });
  }
  
  function refreshContent() {
    $.ajaxSetup ({
      cache: false
    });
    
    var h = parseInt($("#content").css("height"));//get height for loading text
    $("#results").fadeOut("fast", function() {
      $("#content").html(getLoadText("Loading...", h));
    });
    $("#content").load("table/", $.param(getConfiguration()), function(responseText) { updateTable(); });
  }
  
  $(function() {
    // Configure defaults
    $("#trend").val({{ defaulttrend }});
    $("#trend").change(refreshContent);
    $("#baseline").val({{ defaultbaseline }});
    $("#baseline").change(refreshContent);
    $("#revision").val({{ selectedrevision }});
    $("#revision").change(refreshContent);
    $("input:radio[name=interpreter]").filter('[value={{ defaultinterpreter }}]').attr('checked', true);
    $("input[name='interpreter']").change(refreshContent);
    $("input:radio[name=host]").filter('[value={{ defaulthost }}]').attr('checked', true);
    $("input[name='host']").change(refreshContent);
    refreshContent();
  });
</script>
{% endblock %}

{% block navigation %}
    <ul class="inline">
      <li class="current"><a href="/overview/">Overview</a></li>
      <li><a href="/timeline/">Timeline</a></li>
    </ul>
{% endblock %}

{% block body %}
<div id="sidebar">
<div id="interpreter" class="sidebox">
  <div class="boxhead"><h2>Interpreter</h2></div>
  <div class="boxbody">
    <ul>
    {% for inter in interpreters|dictsort:"id" %}
      <li>
        <input id="interpreter{{ inter.id }}" type="radio" name="interpreter" value="{{ inter.id }}" />
        <label for="interpreter{{ inter.id }}">{{ inter.name }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="options" class="sidebox">
  <div class="boxhead"><h2>Options</h2></div>
  <div class="boxbody">
  <ul>
    <li title="Trend since a given number of tested revisions ago. Average of 3 revisions">Trend:<br/>
      <select id="trend">
      {% for trend in trends %}<option value="{{ trend }}">{{ trend }}</option>{% endfor %}
      </select>
    </li>
    <li title="Select interpreter for comparison">Compare to:<br/>
      <select id="baseline">
      {% for base in baseline %}<option value="{{ forloop.counter }}">{{ base.name }}</option>{% endfor %}
      </select>
    </li>
  </ul>
  </div>
</div>
<div class="sidebox">
  <div class="boxhead"><h2>Host</h2></div>
  <div class="boxbody">
    <ul>
    {% for host in hostlist %}
      <li title="{{ host.os }}, {{ host.cpu }}">
        <input id="host{{ host.id }}" type="radio" name="host" value="{{ host.id }}" />
        <label for="host{{ host.id }}">{{ host }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

</div>

<div id="configbar">Results for revision
  <select id="revision">{% for rev in lastrevisions %}
    <option value="{{ rev }}">{{ rev }}</option>{% endfor %}
  </select><a id="permalink" href="javascript:permalink();">Permalink</a>
</div>
<div id="content">
<table id="results" class="tablesorter" style="height: 232px;"></table>
</div>
{% endblock %}
