<table id="results" class="tablesorter">
<thead>
  <tr>
    <th class="w">Benchmark</th><th class="w">Time (s)</th><th class="w">Current change</th><th class="w">Trend ({{ trendconfig }})</th>{% if baselineflag %}<th class="w" title="Compared to {{ baseinterpreter.name }} {{ baserevision }}">Times {{ baseinterpreter.name }}</th><th class="bar" title="Compared to {{ baseinterpreter.name }} in log 2 scale"><div style="float:left;font-size:smaller;">slower</div><div style="float:left;margin-left:48px;">(log<sub>2</sub> scale)</div><div style="float:left;margin-left:60px;font-size:smaller;">faster</div></th>{% endif %}
  </tr>
</thead>
<tfoot>
  <tr><td class="text" title="Arithmetic mean">Average</td><td></td><td>{{ totals.change|floatformat:2 }}%</td><td>{{ totals.trend|floatformat:2 }}%</td><td></td><td></td></tr>
</tfoot>
<tbody>
{% for row in table_list %}  <tr>
        <td class="text"{% ifnotequal row.bench_description "" %} title="{{ row.bench_description }}"{% endifnotequal %}>{{ row.benchmark }}</td><td>{{ row.result|floatformat:4 }}</td><td>{{ row.change|floatformat:2 }}%</td><td>{% ifequal row.trend "-" %}-{% endifequal %}{% ifnotequal row.trend "-" %}{{ row.trend|floatformat:2 }}%{% endifnotequal %}</td>{% if baselineflag %}<td>{{ row.relative|floatformat:2 }}</td><td class="bar"><span>-</span></td>{% endif %}
  </tr>{% endfor %}
</tbody>
</table>