{% extends "base.html" %}
{% block title %}: Timeline{% endblock %}
{% block script %}
<!--[if IE]><script language="javascript" type="text/javascript" src="/media/js/jqplot/excanvas.min.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="../media/js/jqplot/jquery.jqplot.min.css" />
<script type="text/javascript" src="../media/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="../media/js/jqplot/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="../media/js/jqplot/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="../media/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="../media/js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="../media/js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>

<script type="text/javascript">
  var baselineColor = "#d8b83f";
  var seriesColors = ["#4bb2c5", "#EAA228", "#c5b47f", "#579575", "#839557", "#958c12", "#953579", "#4b5de4", "#ff5800", "#0085cc"];
  var seriesindex = new Array();
  
  function getConfiguration() {
    var config = new Object();
    
    config["exe"] = readCheckbox("input[name='executable']:checked");
    config["base"] = $("#baseline").is(':checked');
    config["ben"] = $("input[name='benchmark']:checked").val();
    config["host"] = $("input[name='host']:checked").val();
    config["revs"] = $("#revisions option:selected").val();
    return config;
  }
  
  function permalinkToOverview(commitid, executableid, environment) {
    window.location="../overview/?rev=" + commitid + "&" + "exe=" + executableid + "&host=" + environment;
  }
  
  function myClickHandler(ev, gridpos, datapos, neighbor, plot) {
    if($("input[name='benchmark']:checked").val() == "grid") { return false; }
    if (neighbor) {
      var commitid = neighbor.data[3];
      var executableid = seriesindex[neighbor.seriesIndex];
      var environment = $("input[name='host']:checked").val();
      permalinkToOverview(commitid, executableid, environment);
    }
  }
      
  function renderPlot(data) {
    var plotdata = new Array();
    var series = new Array();
    var lastvalues = new Array();//hopefully the smallest values for determining significant digits.
    seriesindex = new Array();
    for (id in data['executables']) {
      var colorid = id;
      while (colorid > seriesColors.length) { colorid -= seriesColors.length;}
      series.push({"label": $("label[for*='" + id + "']").html(), "color": seriesColors[id-1]});
      seriesindex.push(id);
      plotdata.push(data['executables'][id]);
      lastvalues.push(data['executables'][id][0][1]);
    }
    if ($("#baseline").is(':checked') && data["baseline"] != "None") {
      series.push({
        "label": $("label[for*='baseline']").html(), "color": baselineColor,
        showMarker: false, 
        lineWidth: 1.5
      });
      plotdata.push(data["baseline"]);
    }
    //determine significant digits
    var digits = 2;
    // helper to be able to pass an array to Math.min
    Array.min = function( array ){
      return Math.min.apply( Math, array );
    };
    var value = Array.min(lastvalues);
    while( value < 1 ) {
      value *= 10;
      digits++;
    }
    //Render plot
    $("#plotgrid").html('<div id="plot"></div>');
    plot = $.jqplot('plot',  plotdata, {
      series: series,
      axes:{
        yaxis:{
          label: data['units'] + data['lessisbetter'],
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
          min: 0, autoscale:true,
          tickOptions:{formatString:'%.' + digits + 'f'}
        },
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer,
          label: 'Commit date',
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
          pad: 1.01, autoscale:true,
        }
      },
      legend: {show: true, location: 'nw'},
      highlighter: {
        tooltipLocation: 'nw',
        yvalues: 3,
        formatString:'<table class="jqplot-highlighter">    <tr><td>date:</td><td>%s</td></tr> <tr><td>result:</td><td>%s</td></tr> <tr><td>std dev:</td><td>%s</td></tr> <tr><td>commit:</td><td>%s</td></tr></table>'
      },
      cursor:{show:false, zoom:true, showTooltip:false, clickReset:true}
    });
  }
  
  function renderMiniplot(plotid, data) {
    var plotdata = new Array();
    var series = new Array();
    for (id in data['executables']) {
      series.push({"label": $("label[for*='" + id + "']").html(), "color": seriesColors[id-1]});
      plotdata.push(data['executables'][id]);
    }
    if ($("#baseline").is(':checked') && data["baseline"] != "None") {
      series.push({
        "label": $("label[for*='baseline']").html(), "color": baselineColor,
        showMarker: false, 
        lineWidth: 1.5
      });
      plotdata.push(data["baseline"]);
    }
    plot = $.jqplot(plotid, plotdata, {
      title: {text: data['benchmark'], fontSize: '1.1em'},
      seriesDefaults: {lineWidth: 2, markerOptions:{style:'circle', size: 6}},
      series: series,
      axes: {
        yaxis: {
          min: 0, autoscale:true, showTicks: false
        },
        xaxis: {
          renderer:$.jqplot.DateAxisRenderer,
          pad: 1.01,
          autoscale:true,
          showTicks: false,
        }
      },
      highlighter: {show:false},
      cursor:{showTooltip: false, style: 'pointer'}
    });
  }
  
  function render(data) {
    $("#revisions").attr("disabled", false);
    $("#plotgrid").html("");
    if(data["error"] != "None") {
      h = parseInt($("#content").css("height"));//get height for error message
      $("#plotgrid").html(getLoadText(data["error"], h, false));
      return 1;
    } else if (data["timelines"].length == 0) {
      h = parseInt($("#content").css("height"));//get height for error message
      $("#plotgrid").html(getLoadText("No data available", h, false));
    } else if ($("input[name='benchmark']:checked").val() != "grid") {
      //render single plot when only one benchmark selected
      renderPlot(data["timelines"][0]);
      return 1;
    } else {
      //Render Grid of plots
      $("#revisions").attr("disabled",true);
      for (bench in data["timelines"]) {
        plotid = "plot_" + data["timelines"][bench]["benchmark"];
        $("#plotgrid").append('<div id="' + plotid + '" class="miniplot"></div>');
        $("#" + plotid).click(function() {
          var benchname = $(this).attr("id").slice(5);
          $("input:radio[name='benchmark']").filter('[value=' + benchname + ']').attr('checked', true);
          refreshContent();
        });
        renderMiniplot(plotid, data["timelines"][bench]);
      }
    }
  }
  
  function refreshContent() {
    var h = parseInt($("#content").css("height"));//get height for loading text
    $("#plotgrid").fadeOut("fast", function() {
      $("#plotgrid").html(getLoadText("Loading...", h, true)).show();
      $.getJSON("json/", getConfiguration(), render);
    });
  }
  
  $(function() {
    $.ajaxSetup ({  
      cache: false  
    });
    //set default amount of revisions shown
    $("#revisions").val({{ defaultlast }});
    $("#revisions").change(refreshContent);
    $("input:checkbox").removeAttr('checked');
    //set default selected executables
    {% if defaultbaseline %}$("input[name='baseline']").attr('checked', true);{% endif %}
    $("input[name='baseline']").change(refreshContent);
    {% for checkedexecutable in checkedexecutables %}
    $("input[name='executable']").filter('[value={{ checkedexecutable.id }}]').attr('checked', true);
    {% endfor %}
    $("input[name='executable']").change(refreshContent);
    //set default selected benchmark
    $("input:radio[name='benchmark']").filter('[value={{ defaultbenchmark }}]').attr('checked', true);
    $("input[name='benchmark']").change(refreshContent);
    $("input:radio[name='host']").filter('[value={{ defaultenvironment.name }}]').attr('checked', true);
    $("input[name='host']").change(refreshContent);
    $("#executable div.boxbody ul li").each(function() {
      var serieid = $(this).find("input").val();
      $(this).find("div.seriescolor").css("background-color", seriesColors[serieid-1]);
    });
    $("#baseline").next().next().css("background-color", baselineColor);
    
    $.jqplot.eventListenerHooks.push(['jqplotClick', myClickHandler]);
    
    refreshContent();
  });
</script>
{% endblock %}

{% block navigation %}
    <ul class="inline">
      <li><a href="../overview/">Overview</a></li>
      <li class="current"><a href="../timeline/">Timeline</a></li>
      <li><a href="../comparison/">Comparison</a></li>
    </ul>
{% endblock %}

{% block body %}
<div id="sidebar">
<div id="executable" class="sidebox">
  <div class="boxhead"><h2>Executable</h2></div>
  <div class="boxbody">
    <ul class="clearfix">{% for exec in executables|dictsort:"id" %}
      <li>
        <input id="executable{{ exec.id }}" type="checkbox" name="executable" value="{{ exec.id }}" />
        <label for="executable{{ exec.id }}">{{ exec }}</label><div class="seriescolor"></div>
      </li>{% endfor %}
    </ul>
    {% if defaultbaseline %}
    <ul>
      <li>Baseline:<br/>
        <input id="baseline" type="checkbox" name="baseline" value="{{ baseline.executable }}" />
        <label for="baseline">{{ baseline.name }}</label><div class="seriescolor"></div>
      </li>
    </ul>{% endif %}
  </div>
</div>
<div id="benchmark" class="sidebox">
  <div class="boxhead"><h2>Benchmark</h2></div>
  <div class="boxbody">
  <ul>
    <li>
      <input id="benchmarkgrid" type="radio" name="benchmark" value="grid" />
      <label for="benchmarkgrid">Display all in a grid</label>
    </li>
  </ul>
  <ul>
    {% for bench in benchmarks|dictsort:"name" %}
    <li{% ifnotequal bench.description "" %} title="{{ bench.description }}"{% endifnotequal %}>
      <input id="benchmark_{{ bench.name }}" type="radio" name="benchmark" value="{{ bench.name }}" />
      <label for="benchmark_{{ bench.name }}">{{ bench }}</label>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>
<div class="sidebox">
  <div class="boxhead"><h2>Host</h2></div>
  <div class="boxbody">
    <ul>
    {% for host in hostlist %}
      <li title="{{ host.os }}, {{ host.cpu }}">
        <input id="host{{ host.name }}" type="radio" name="host" value="{{ host.name }}" />
        <label for="host{{ host.name }}">{{ host }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
</div>

<div id="configbar">Results for last
  <select id="revisions" title="Last {{ defaultlast }} revisions tested">{% for rev in lastrevisions %}
    <option value="{{ rev }}">{{ rev }}</option>{% endfor %}
  </select> revisions<a id="permalink" href="javascript:permalink();">Permalink</a>
</div>
<div id="content" class="clearfix">
<div id="plotgrid"></div>
</div>
{% endblock %}
