{% extends "base.html" %}
{% block title %}PyPy Speed Center: Timeline{% endblock %}
{% block script %}
<!--[if IE]><script language="javascript" type="text/javascript" src="/media/js/jqplot/excanvas.min.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="/media/js/jqplot/jquery.jqplot.min.css" />
<script type="text/javascript" src="/media/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/media/js/jqplot/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/media/js/jqplot/jqplot.highlighter.min.js"></script>

<script type="text/javascript">
  var seriesColors = ["#d8b83f", "#4bb2c5", "#EAA228", "#c5b47f", "#579575", "#839557", "#958c12", "#953579", "#4b5de4", "#ff5800", "#0085cc"];
  
  function getConfiguration() {
    var config = new Object();
    config["interpreters"] = "";
    $("input[name='interpreter']:checked").each(function() {
      config["interpreters"] += $(this).val() + ",";
    });
    config["interpreters"] = config["interpreters"].slice(0, -1);
    config["baseline"] = $("#baseline").is(':checked');
    config["benchmark"] = $("input[name='benchmark']:checked").val();
    config["revisions"] = $("#revisions option:selected").val();
    return config;
  }
  
  function permalink() {
    window.location="?" + ued_encode(getConfiguration());
  }
  
  function renderPlot(data) {
    var plotdata = new Array();
    var series = new Array();
    var xmin = 71100;
    var xmax = 71200;
    datalength = 0;
    var lastvalues = new Array();
    for (id in data['interpreters']) {
      series.push({"label": $("label[for*='" + id + "']").html(), "color": seriesColors[id-1]});
      plotdata.push(data['interpreters'][id]);
      lastvalues.push(data['interpreters'][id][0][1]);
      if (data['interpreters'][id].length > datalength) {
        datalength = data['interpreters'][id].length;
        xmin = data['interpreters'][id][data['interpreters'][id].length-1][0];
        xmax = data['interpreters'][id][0][0];
      }
    }
    if ($("#baseline").is(':checked')) {
      var id = $("#baseline").val();
      series.push({
        "label": $("label[for*='baseline']").html(), "color": seriesColors[id-1],
        showMarker: false, 
        lineWidth: 1.5
      });
      plotdata.push([[xmin, data["baseline"]], [xmax, data["baseline"]]]);
    }
    //determine significant digits
    var digits = 2;
    // helper to be able to pass an array to Math.min
    Array.min = function( array ){
      return Math.min.apply( Math, array );
    };
    var value = Array.min(lastvalues);
    while( value < 1 ) {
      value *= 10;
      digits++;
    }
    
    $("#plotgrid").html('<div id="plot"></div>');
    plot = $.jqplot('plot',  plotdata, {
      series: series,
      axes:{
        yaxis:{label: '(s)', min: 0, autoscale:true, tickOptions:{formatString:'%.' + digits + 'f'}},
        xaxis:{label: 'Revision', pad: 1.01, autoscale:true, tickOptions:{formatString:'%d'}}
      },
      legend: {show: true, location: 'nw'},
      highlighter: {sizeAdjust: 7.5},
      cursor:{zoom:true, showTooltip:false, clickReset:true}
    });
  }
  
  function renderMiniplot(plotid, benchname,  data) {
    var plotdata = new Array();
    var series = new Array();
    var xmin = 71100;
    var xmax = 71200;
    datalength = 0;
    for (id in data['interpreters']) {
      series.push({"label": $("label[for*='" + id + "']").html(), "color": seriesColors[id-1]});
      plotdata.push(data['interpreters'][id]);
      if (data['interpreters'][id].length > datalength) {
        datalength = data['interpreters'][id].length;
        xmin = data['interpreters'][id][data['interpreters'][id].length-1][0];
        xmax = data['interpreters'][id][0][0];
      }
    }
    if ($("#baseline").is(':checked')) {
      var id = $("#baseline").val();
      series.push({
        "label": $("label[for*='baseline']").html(), "color": seriesColors[id-1],
        showMarker: false, 
        lineWidth: 1.5
      });
      plotdata.push([[xmin, data["baseline"]], [xmax, data["baseline"]]]);
    }
    plot = $.jqplot(plotid, plotdata, {
      title: {text: benchname, fontSize: '1.1em'},
      seriesDefaults: {lineWidth:2, markerOptions:{style:'circle', size:6}},
      series: series,
      axes: {
        yaxis: {
          min: 0, autoscale:true, showTicks: false, tickOptions:{formatString:'%.3f seconds'}
        },
        xaxis: {
          pad: 1.01, autoscale:true, showTicks: false, tickOptions:{formatString:'revision %d'}
        }
      },
      highlighter: {show:false},
      cursor:{showTooltip: false, style: 'pointer'}
    });
  }
  
  function render(data) {
    $("#revisions").attr("disabled", false);
    $("#plotgrid").html("");
    if(data["error"] != "None") {
      h = parseInt($("#content").css("height"));//get height for error message
      $("#plotgrid").html(getLoadText(data["error"], h));
      return 1;
    } else if (data["timelines"].length == 0) {
      h = parseInt($("#content").css("height"));//get height for error message
      $("#plotgrid").html(getLoadText("No data available", h));
    } else if (data["timelines"].length == 1) {
      //render single plot when only one benchmark selected
      renderPlot(data["timelines"][0]);
      return 1;
    } else {
      //Render Grid of plots
      $("#revisions").attr("disabled",true);
      for (bench in data["timelines"]) {
        plotid = "plot" + data["timelines"][bench]["benchmark_id"];
        $("#plotgrid").append('<div id="' + plotid + '" class="miniplot"></div>');
        $("#" + plotid).click(function() {
          $("input:radio[name='benchmark']").filter('[value=' + $(this).attr("id").slice(4) + ']').attr('checked', true);
          refreshContent();
        });
        renderMiniplot(plotid, data["timelines"][bench]["benchmark"], data["timelines"][bench]);
      }
    }
  }
  
  function refreshContent() {
    var h = parseInt($("#content").css("height"));//get height for loading text
      $("#plotgrid").fadeOut("fast", function() {
        $("#plotgrid").html(getLoadText("Loading...", h)).show();
        $.getJSON("json/", getConfiguration(), render);
      });
  }
  
  $(function() {
    $.ajaxSetup ({  
      cache: false  
    });
    //set default amount of revisions shown
    $("#revisions").val({{ defaultlast }});
    $("#revisions").change(refreshContent);
    $("input:checkbox").removeAttr('checked');
    //set default selected interpreters
    {% if defaultbaseline %}$("input[name='baseline']").attr('checked', true);{% endif %}
    $("input[name='baseline']").change(refreshContent);
    {% for defaultinterpreter in defaultinterpreters %}
    $("input[name='interpreter']").filter('[value={{ defaultinterpreter }}]').attr('checked', true);
    {% endfor %}
    $("input[name='interpreter']").change(refreshContent);
    //set default selected benchmark
    $("input:radio[name='benchmark']").filter('[value={{ defaultbenchmark }}]').attr('checked', true);
    $("input[name='benchmark']").change(refreshContent);
    $("input:radio[name=host]").filter('[value={{ defaultenvironment }}]').attr('checked', true);
    $("input[name='host']").change(refreshContent);
    $("#interpreter div.boxbody ul li").each(function() {
      var serieid = $(this).find("input").val()
      $(this).find("div.seriescolor").css("background-color", seriesColors[serieid-1]);
    });
    
    refreshContent();
  });
</script>
{% endblock %}

{% block navigation %}
    <ul class="inline">
      <li><a href="/overview/">Overview</a></li>
      <li class="current"><a href="/timeline/">Timeline</a></li>
    </ul>
{% endblock %}

{% block body %}
<div id="sidebar">
<div id="interpreter" class="sidebox">
  <div class="boxhead"><h2>Interpreter</h2></div>
  <div class="boxbody"><ul>
    {% for inter in interpreters|dictsort:"id" %}<li>
    <input id="interpreter{{ inter.id }}" type="checkbox" name="interpreter" value="{{ inter.id }}" />
    <label for="interpreter{{ inter.id }}">{{ inter.name }}</label><div class="seriescolor"></div></li>
    {% endfor %}
    </ul>
    <ul>
      <li>
        <input id="baseline" type="checkbox" name="baseline" value="{{ baseline.id }}" />
        <label for="baseline">{{ baseline.name }}</label><div class="seriescolor"></div></li>
    </ul>
  </div>
</div>
<div id="benchmark" class="sidebox">
  <div class="boxhead"><h2>Benchmark</h2></div>
  <div class="boxbody">
  <ul>
    <li>
      <input id="benchmarkgrid" type="radio" name="benchmark" value="grid" />
      <label for="benchmarkgrid">Display all in a grid</label>
    </li>
  </ul>
  <ul>
    {% for bench in benchmarks|dictsort:"name" %}
    <li{% ifnotequal bench.description "" %} title="{{ bench.description }}"{% endifnotequal %}>
      <input id="benchmark{{ bench.id }}" type="radio" name="benchmark" value="{{ bench.id }}" />
      <label for="benchmark{{ bench.id }}">{{ bench }}</label>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>
<div class="sidebox">
  <div class="boxhead"><h2>Host</h2></div>
  <div class="boxbody">
    <ul>
    {% for host in hostlist %}
      <li title="{{ host.os }}, {{ host.cpu }}">
        <input id="host{{ host.id }}" type="radio" name="host" value="{{ host.id }}" />
        <label for="host{{ host.id }}">{{ host }}</label>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
</div>

<div id="configbar">Results for last
  <select id="revisions" title="Last {{ defaultlast }} revisions tested">{% for rev in lastrevisions %}
    <option value="{{ rev }}">{{ rev }}</option>{% endfor %}
  </select> revisions<a id="permalink" href="javascript:permalink();">Permalink</a>
</div>
<div id="content" class="clearfix">
<div id="plotgrid"></div>
</div>
{% endblock %}
